<mat-card class="home mat-elevation-z3">

    <mat-card-title class="title">
        Bem vindo(a)!
    </mat-card-title>
    
    <mat-card-subtitle class="subtitle">
        Cadastro em Angular
    </mat-card-subtitle>

    <br>
    
    <article>

        <h2>Sistema CRUD de produtos </h2>

        <ul>
            <li>
                Create - Criar um novo produto
            </li>
            <li>
                Read - Ler uma lista de produto ou um unico produto
            </li>
            <li>
                Update - Atualizar um Produto
            </li>
            <li>
                Delete - Deletar um produto
            </li>
        </ul>

        
    </article>
    

    <!-- <ul>
        <li *myFor="let n of [1, 2, 3]">{{ n }}</li>
    </ul> -->
    

    <!-- <p *struct="let a">{{20}}</p> -->

    

</mat-card>
